* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    display: flex;
    flex-direction: column;
    background: wheat;
    height: 100vh;
    border: 3px solid #6f2961;
    border-radius: 5px;
}

.app__header {
    background: #d6c5d3;
    height: 64px;

    display: flex;
    gap: 10px;
    align-items: center;
    padding: 15px;
}

.app__content {
    background: white;
    flex: 1;
}

.app__footer {
    background: #d6c5d3;
    height: 64px;
}

.app_header_input {
    flex: 1;
    padding: 6px;
}

.app_header_button {
    padding: 6px;
}

