* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Bigelow+Rules&family=Raleway&family=Roboto:ital,wght@0,400;0,500;1,300&family=Rubik&display=swap');

.app__header__keywords {
flex: 1;
display: flex;
justify-content: flex-end;
padding: 5px;
color: white;
}

.app__content {
    background: white;
    flex: 1;
}

.app__footer {
    background: #d6c5d3;
    height: 64px;
}

.app_header_input {
    flex: 1;
    
    /* padding: 3px; */
    border: 1px solid #6f2961;
    border-radius: 50px;
    padding: 3px 3px 3px 40px;
    background: white url("search.svg") no-repeat 13px;
    
}

.app_header_button {
    margin: 2px;
    padding: 3px;
    border: 1px solid #6f2961;
    border-radius: 50px;
    color:#6f2961;
}

.nav-block {
    display: flex;
    gap: 10px;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px;
}

.nav-child {
    background: #6f2961;
    color: white;
    border-radius: 3px;
    font-size: 0.8rem;
    padding: 2px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
  }


.card {
    box-shadow: 0 4px 8px 0 #d6c5d3;
    width: 300px;
    height: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #6f2961;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }

  .card img {
    /* width: 300px; */
    height: 300px;
    object-fit: cover;
  } 

.product-nav {
    display: flex;
}

.product-category {
    flex: 1;
    align-items: center;
}

.product-filter {
    width: 200px;
    align-items: center;
}

.product-sort {
    width: 200px;
    align-items: center;
}

.product-category-name {
    font-size: 25px;
    font-weight: bold;
    color: #6f2961;
    padding: 15px;
}

.sort-by-name , .filter-by-name {
    color: gray;
}

select {
    border-radius: 50px;
    padding: 3px;;
}

@media (min-width: 768px) {
    .app {
        display: flex;
        flex-direction: column;
        background: wheat;
        height: 100vh;
        border: 3px solid #6f2961;
        border-radius: 5px;
        font-family: 'Raleway', sans-serif;
    }
    .app__header__mobile{
        display: none;
    }

    .app__header__desktop {
        background: #6f2961;
        height: 64px;
    
        display: flex;
        gap: 10px;
        align-items: center;
        padding: 15px;
    }
    
    .app__header__logo {
        width: 40px;
    }
    
    .app__header__navbar {
        background: #6f2961;
        flex: 1;
        height: 64px;
        /* width: 700px; */
        display: flex;
        /* justify-content: space-between; */
        /* gap: 2rem; */
        /* list-style: none; */
        align-items: center;
      }
      
      .nav-list {
        width: 50%;
        display: flex;
        justify-content: space-around;
        list-style: none;
        gap: 1rem;
        
    
      }
    
      .nav-link {
        color: white;
        /* color: white; */
        text-decoration: none;
        
      }
      
      .nav-link:hover {
        font-style: italic;
        border-bottom: 2px solid #fff;
        padding: 4px 0;
      }
    
    .left-side-nav {
        flex: 1;
    }
    
      .right-side-nav {
        flex: 1;
        display: flex;
        align-items: center;
      }
    
      .app__header__navbar {
        width: 100%;
      }
    
    }
@media (max-width: 768px) {

    .app {
        display: flex;
        flex-direction: column;
        background: wheat;
        max-height:60vh;
        border: 3px solid #6f2961;
        border-radius: 5px;
        font-family: 'Raleway', sans-serif;
    }
    .app__header__desktop{
        display: none;
    }

    

    .app__header__mobile{
        display: flex;
        height: 100vh;
    }
    /* .app__header__logo {
        width: 20px;
        max-height: 40px;
    } */

    .app__header-mobile{
        flex:1;
    
    }
    .app__header__navbar {
        flex-direction: column;
        background: #6f2961;
        flex: 1;
        height: 135px;
        display: flex;
        align-items: center;
    }

    .mobile-nav {
        flex: 1;
    }
      
    .nav-list {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        list-style: none;
        gap: 1rem;
    }

    .nav-link {
        color: white;
        text-decoration: none;
        
      }
      
      .nav-link:hover {
        font-style: italic;
        border-bottom: 2px solid #fff;
        padding: 4px 0;
      }
}
